{% extends 'base.html' %} 
{% block title %}Home{% endblock %}
{% block content%}
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="index.html" class="logo">
                    <!-- <img src="/logo.png" alt=""> -->
                    <span class="nav-item">MyFridge</span>
                </a></li>
                <li><a href="#">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Home</span>
                </a></li>
                <li><a href="pages/recipes.html">
                    <i class="fas fa-solid fa-utensils"></i>
                    <span class="nav-item">Recipes</span>
                </a></li>
                <li><a href="pages/notifications.html">
                    <i class="fas fa-solid fa-bell"></i>
                    <span class="nav-item">Notifications</span>
                </a></li>
                <li><a href="">
                    <i class="fas fa-solid fa-calendar-days"></i>
                    <span class="nav-item">Calendar</span>
                </a></li>
                <li><a href="pages/settings.html">
                    <i class="fas fa-solid fa-gear"></i>
                    <span class="nav-item">Settings</span>
                </a></li>
                <li><a href="" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Log Out</span>
                </a></li>


            </ul>
        </nav>

        <section class="main">
            <h1>Shared Fridges</h1>
            <div class="main-top">
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="main-fridges">
                                <div class="card">
                                    <i class="fas fa-solid fa-store">
                                        <h3>Fridge #1</h3>
                                        <p>Small blurp about this fridge.</p>
                                        <button><a href="pages/fridge.html">Open Fridge</a></button>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="main-fridges">
                                <div class="card">
                                    <i class="fas fa-solid fa-store">
                                        <h3>Fridge #2</h3>
                                        <p>Small blurp about this fridge.</p>
                                        <button><a href="pages/fridge.html">Open Fridge</a></button>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="main-fridges">
                                <div class="card">
                                    <i class="fas fa-solid fa-store">
                                        <h3>Fridge #3</h3>
                                        <p>Small blurp about this fridge.</p>
                                        <button><a href="pages/fridge.html">Open Fridge</a></button>
                                    </i>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-fridges">
                                <div class="card">
                                    <i class="fas fa-solid fa-store">
                                        <h3>Fridge #4</h3>
                                        <p>Small blurp about this fridge.</p>
                                        <button><a href="pages/fridge.html">Open Fridge</a></button>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="main-fridges">
                                <div class="card">
                                    <i class="fas fa-solid fa-store">
                                        <h3>Fridge #5</h3>
                                        <p>Small blurp about this fridge.</p>
                                        <button><a href="pages/fridge.html">Open Fridge</a></button>
                                    </i>
                                </div>
                            </div>
                        </div>

                    </div>
                
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            
            <br>
            <br>

            <h1>My Fridges</h1>
            <div class="main-bottom">
                <div class="main-fridges">
                    <div class="card">
                        <i class="fas fa-solid fa-store">
                            <h3>Fridge #1</h3>
                            <p>Small blurp about this fridge.</p>
                            <button><a href="pages/fridge.html">Open Fridge</a></button>
                        </i>
                    </div>
                </div>
                
            </div>
            </div>
        </section>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
{% endblock %}