{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block contentTitle %}Notifications{% endblock %}

{% block contentBottom %}
<div class="row my-5">
    <h3 class="fs-4 mb-3">Recent Orders</h3>
    <div class="col">
        <table class="table bg-white rounded shadow-sm  table-hover">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Fridge</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Pickles</td>
                    <td>Fridge#4</td>
                    <td>03-12-23</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Cheese</td>
                    <td>Fridge#2</td>
                    <td>03-23-23</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Avocado</td>
                    <td>Fridge#3</td>
                    <td>01-02-23</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Orange Juice</td>
                    <td>Fridge#3</td>
                    <td>01-29-23</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Milk</td>
                    <td>Fridge#4</td>
                    <td>04-02-23</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Butter</td>
                    <td>Fridge#2</td>
                    <td>01-15-23</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Ham</td>
                    <td>Fridge#1</td>
                    <td>02-28-23</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Eggs</td>
                    <td>Fridge#1</td>
                    <td>02-15-23</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}