{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block contentTitle %}Recipes{% endblock %}

{% block head %} 

  <script src="{{url_for('static', filename='recipeKey.js')}}" ></script>    
  <script src="{{url_for('static', filename='recipes.js')}}"></script>
    
    
{% endblock %}

{% block contentTop %}
<div class="input-group mb-3">
  <div class="input-group mb-3">
    <input id="recipe-input" type="text" class="form-control" placeholder="Enter ingridients..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn" type="button" style="background-color: #BB86FC;" onclick="fetchRecipes()">Search</button>
    </div>
  </div>
{% endblock %}

{% block contentBottom %}
    <div id="container" class="card-group">
        
    </div>
{% endblock %}